<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>{{question.question_text}} : 등록일 {{question.pub_date}}</h3>

<b style="color:red">	<!-- 투표 항목(라디오 버튼)을 선택하지 않은 경우 에러 메시지 -->
	{% if error_msg %}{{error_msg}}{% endif %}
</b>

<!-- 질문 항목에 대한 선택하기 -->
<!-- <form action="{% url 'vote' question.id %}" method="get"> --> <!-- action="/gogo/1/vote/ -->
<form action="{% url 'vote' question.id %}" method="post">{% csrf_token %}
	{% for choice in question.choice_set.all %}
	<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
	<label for="choice{{forloop.counter}}">{{choice.choice_text}}</label>
	{% endfor %}
	<br>
	<input type="submit" value="투표 확인">
</form>
</body>
</html>